<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nguyen Van Minh - 01 - Project List</title>
</head>
<body>

<h1>
    Nguyen Van Minh - 22003405
</h1>
<p>
    Project List Page, [Xin chào: <span th:text="${name}">user</span>, Role: <span th:text="${roleName}">role</span>]
</p>

<div>
    <a th:href="@{/projects}">Quay về</a>
</div>

<hr/>

<form th:action="@{/projects}" method="post" th:object="${project}">
    <div th:if="${project.id != null}">
        <input type="hidden" th:field="*{id}" />
    </div>

    <div>
        <label>Name:</label>
        <input th:field="*{name}" />
    </div>

    <div>
        <label>Description:</label>
        <input th:field="*{description}" />
    </div>

    <div>
        <label>Start Date:</label>
        <input th:field="*{startDate}" type="date" />
    </div>

    <div>
        <label>Due Date:</label>
        <input th:field="*{dueDate}" type="date" />
    </div>

    <div>
        <label>Budget:</label>
        <input th:field="*{budget}" type="number" />
    </div>

    <button type="submit">Save</button>
</form>

</body>
</html>