<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Course List Page</h1>
    <h3>Nguyen Van Minh - 22003405</h3>
    <h3>Xin chào, <span th:text="${name}"></span>, vai trò: <span th:text="${roleName}"></span></h3>

    <div th:if="${roleName.contains('ADMIN')}">
        <a th:href="@{/admin}">Trang quản trị</a>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

    <div th:if="${roleName.contains('ADMIN') || roleName.contains('TEACHER')}">
        <a th:href="@{/courses/form}">Thêm khoá học mới</a>
    </div>

    <form th:action="@{/courses}" method="get">
        <label>Search By Name</label>
        <input name="className" required>
        <button type="submit">Tìm kiếm theo tên</button>
    </form>
    <br/>
    <form th:action="@{/courses}" method="get">
        <label>Search By Date</label>
        <input name="startDate" type="date" required>
        <input name="endDate" type="date" required>
        <button type="submit">Tìm kiếm ngày</button>
    </form>

    <hr>
    <table border="1" width="80%">
        <tr>
            <td>id</td>
            <td>className</td>
            <td>subject</td>
            <td>noOfStudents</td>
            <td>startDate</td>
            <td>endDate</td>
            <td>isOpen</td>
            <td th:if="${roleName.contains('ADMIN') || roleName.contains('TEACHER')}">Action</td>
        </tr>

        <tr th:each="c : ${courses}">
            <td th:text="${c.id}">id</td>
            <td th:text="${c.className}">className</td>
            <td th:text="${c.subject}">subject</td>
            <td th:text="${c.noOfStudents}">noOfStudents</td>
            <td th:text="${c.startDate}">startDate</td>
            <td th:text="${c.endDate}">endDate</td>
            <td th:text="${c.isOpen}">isOpen</td>
            <td th:if="${roleName.contains('ADMIN') || roleName.contains('TEACHER')}">
                <a th:href="@{/courses/form(id=${c.id})}">Sửa</a>
                <form th:if="${roleName.contains('ADMIN')}" th:action="@{/courses/delete/{id}(id=${c.id})}" method="post">
                    <button type="submit">Xoá</button>
                </form>
                <form th:if="${roleName.contains('ADMIN')}" th:action="@{/courses/open/{id}(id=${c.id})}" method="post">
                    <button type="submit">Mở lớp</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>